@font-face {
  font-family: "quicksand";
  src: url("../Quicksand font 1/Quicksand-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #eeeeee;
  margin: 0px;
  height: 100vh;
  font-family: "Quicksand";
}

.header {
  background-image: url("../images/header pattern svg.svg");
  background-color: #25313f;
  mix-blend-mode: darken;
  background-blend-mode: overlay;
  width: 100%;
  height: 47px;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid #31B9E4;
}
.header .logo {
  margin-left: 24px;
  margin-top: 6px;
}

.login {
  width: 488px;
  height: 550px;
  background-color: white;
  margin: 50px auto 46px auto;
  padding-left: 32px;
  padding-right: 32px;
  border-top: 4px solid #31b9e4;
}
.login .formheading a {
  display: inline-block;
}
.login .formheading h2 {
  text-align: center;
  font-size: 24px;
  display: inline-block;
  margin-left: 77px;
}

.formlayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #333333;
}
.formlayout input[type=text],
.formlayout input[type=password] {
  width: 100%;
  border: none;
  border-bottom: 2px solid lightgray;
  font-size: 16px;
}
.formlayout .labelfont {
  font-size: 12px;
}
.formlayout select {
  width: 100%;
  border: none;
  background-image: url("../images/arrow-down.svg");
  border-bottom: 2px solid lightgray;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
}
.formlayout input,
.formlayout select {
  outline: none;
}
.formlayout .hidden-checkbox,
.formlayout .hidden-radio {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}
.formlayout .previewbtn {
  position: absolute;
  top: -3px;
  right: 0px;
}
.formlayout .passwordvisibility {
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  float: right;
  padding: 0px;
  margin: 0;
  position: relative;
}
.formlayout .custom-checkbox {
  background-image: url("../images/checkbox-unchecked.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  cursor: pointer;
}
.formlayout .hidden-checkbox:checked + .custom-checkbox {
  background-image: url("../images/checkbox-checked.svg");
}
.formlayout .custom-radio {
  background-image: url("../images/radio-button-off.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-bottom: 2px;
  background-position: left bottom;
  cursor: pointer;
}
.formlayout .districtlabel {
  margin-right: 32px;
}
.formlayout .hidden-radio:checked + .custom-radio {
  background-image: url("../images/radio-button-on.svg");
}
.formlayout .forgot {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  color: #1f7a54;
  text-transform: uppercase;
  line-height: 18px;
}
.formlayout input[type=submit] {
  width: 216px;
  height: 40px;
  background: #3fd28b 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.formlayout input[type=text]:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#contact {
  color: #1f7a54;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e0e1e1;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  height: 40px;
  text-align: center;
}
.footer .copyright {
  margin-left: 16px;
  margin-right: 16px;
}
.footer .bold {
  font-weight: 700;
}

.pipe {
  color: rgba(0, 0, 0, 0.1215686275);
  font-weight: 700;
}

@media (max-width: 768px) and (min-height: 1024px) {
  .header,
  .footer {
    width: 768px;
  }
  .login {
    margin-bottom: 298px;
  }
}/*# sourceMappingURL=loginPage.css.map */