#container {
  display: flex;
  margin: auto;
  max-width: 457px;
  height: 138px;
  padding: 4px;
}

img {
  width: 130px;
  height: 130px;
}

#content {
  margin-left: 14px;
}

.intro {
  font-size: 20px;
  font-family: "Roboto" , Arial, Helvetica, sans-serif;
  margin-top: 14px;
}

#name {
  font-weight: bold;
}

#icons {
  margin-top: 24px;
}

.numbers {
  font-weight: 500;
  font-size: 15px;
  font-family: Roboto Arial, Helvetica, sans-serif;
  color: #858991;
  margin-left: 14px;
  margin-right: 24px;
}
